* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F1E6;
    padding: 20px 30px;
}

header {
    background-color: rgb(205, 48, 48);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 30px;
}

header p {
    margin-top: 10px;
    opacity: 0.7;
}

.container {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.list {
    background-color: #FFF8E2;
    border-radius: 14px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-left: 6px solid #F37E06 ;
    transition: all ease 0.2s;
}

.list span {
    font-size: 20px;
}

.status span {
    opacity: 0.5;
    font-style: italic;
}

.list:hover {
    transform: translateX(10px);
}

.container hr {
    opacity: 0.3;
    margin-top: 60px;
}

#footer {
    text-align: center;
    opacity: 0.6;
    font-size: 26px;
    margin-top: 30px;
}