* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F1E6;
    padding: 20px 30px;
}

header {
    background-color: rgb(205, 48, 48);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 30px;
}

header p {
    margin-top: 10px;
    opacity: 0.7;
}

.container {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.task {
    display:flex;
    align-items:center;
    padding:25px;
    margin:15px 0;
    border-left:5px solid orange;
    background:#f3f1dc;
    border-radius:10px;
    cursor:pointer;
}

.task .text {
    margin-left: 10px;
    font-size: 27px;
}

.task.done {
    background:#d9e7dc;
    border-left:5px solid green;
    text-decoration: line-through;
    color:#555;
}

.icon {
    margin-right:10px;
}

.circle {
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid gray;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.task.done .circle {
    background:green;
    color:white;
    border:none;
}

.task.done .text{
    text-decoration:line-through;
    color:#555;
    margin-left: 10px;
}

.container hr {
    opacity: 0.3;
    margin-top: 60px;
}

#footer {
    text-align: center;
    opacity: 0.6;
    font-size: 26px;
    margin-top: 30px;
}